* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --blueColor: #89CFF0;
    --darkColor: #191970;
}
body {
    background-color: #eee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
#gameboard {
    width: 700px;
    padding: 2rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    position: relative;
}
.box {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 5rem;
    margin: 0.5rem;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 2px 5px 5px #000;
}
.modal {
    background-color: lightgray;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
h3 {
    font-size: 2.5rem;
}
.success .modal {
    display: inline-block;
}